
#grd{
	grid-template-rows:  var(--brdwght)  repeat(7,7fr)  var(--brdwght)  ;
	grid-template-columns:  var(--brdwght)  repeat(7,7fr)  var(--brdwght)  ;
}

#overlay{
	background: url(../../../img/ae-003.svg) no-repeat center;
}