#grd{
	grid-template-rows:  var(--brdwght)  repeat(8,8fr)  var(--brdwght)  ;
	grid-template-columns:  var(--brdwght)  repeat(8,8fr)  var(--brdwght)  ;
}

#overlay{
	background: url(../../../img/bg-011.svg) no-repeat center;
}