:root {
	--brdclr: rgba(51, 51, 51, 0.8);

	--aura01clr: rgba(204, 51, 0, 0.8);
	/* --aura02clr: rgba(51, 204, 102, 0.8); */
	/* --aura03clr: rgba(204, 51, 102, 0.8); */
	/* --aura04clr: rgba(204, 51, 51, 0.8); */
}
#grd {
	grid-template-rows:  var(--brdwght)  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  var(--brdwght) ;
	grid-template-columns:  var(--brdwght)  1fr 1fr 1fr 1fr 1fr 1fr 1fr  var(--brdwght)  1fr;
}

#overlay {
	background: url(../../../img/ae-013.svg) no-repeat center;
}