#grd{
	grid-template-rows:  var(--brdwght)  repeat(12,12fr)  var(--brdwght)  ;
	grid-template-columns:  var(--brdwght)  repeat(14,14fr)  var(--brdwght)  ;
}

#overlay{
	background: url(../../../img/qbl.png) no-repeat center;
}