
#grd{
	grid-template-rows:  var(--brdwght)  repeat(6,6fr)  var(--brdwght)  ;
	grid-template-columns:  var(--brdwght)  repeat(6,6fr)  var(--brdwght)  ;
}

#overlay{
	background: url(../../../img/cls-003.svg) no-repeat center;
}