#grd {
	grid-template-rows: var(--brdwght) repeat(11, 11fr) var(--brdwght);
	grid-template-columns: var(--brdwght) repeat(20, 20fr) var(--brdwght);
	background: url(../../../img/help.png) no-repeat;
	background-size: 100%;

}

#overlay {
	background: url(../../../img/qbl.png) no-repeat center;
}