
#grd{
	grid-template-rows:  var(--brdwght)  repeat(5,5fr)  var(--brdwght)  ;
	grid-template-columns:  var(--brdwght)  repeat(6,6fr)  var(--brdwght)  ;
}

#overlay{
	background: url(../../../img/qbl.png) no-repeat center;
}