#grd {
	grid-template-rows: 1fr  var(--brdwght)  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  var(--brdwght)  1fr;
	grid-template-columns: 1fr  var(--brdwght)  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  var(--brdwght) ;
}

#overlay {
	background: url(../../../img/qbl.png) no-repeat center;
}