
#grd{
	grid-template-rows:  var(--brdwght)  repeat(5,5fr)  var(--brdwght)  ;
	grid-template-columns:  var(--brdwght)  repeat(10,10fr)  var(--brdwght)  ;
}

#overlay{
	background: url(../../../img/pok-0.svg) no-repeat center;
}