:root {
	--brdclr: rgb(102, 102, 102);

	--aura01clr: rgb(102, 102, 51);
	--aura02clr: rgb(102, 102, 51);
	--aura03clr: rgb(102, 102, 51);
	--aura04clr: rgb(102, 102, 51);

	--clol01_deg: 120deg;
	--clol02_deg: 215deg;
	--clol03_deg: 250deg;
	--clol04_deg: 320deg;
}

#grd {
	grid-template-rows: 1fr var(--brdwght) 1fr 1fr 1fr 1fr 1fr var(--brdwght) 1fr;
	grid-template-columns: 1fr var(--brdwght) 1fr 1fr 1fr 1fr 1fr 1fr 1fr var(--brdwght) 1fr;
}

#overlay {
	background: url(../../../img/qbl.png) no-repeat center;
}